@charset "UTF-8";

@font-face {
    font-family: 'Fira Code';
    src: url(_fontes/FiraCode-Light.ttf);
}

body {
    font-family: Impact, 'Arial Narrow', sans-serif;
    color: white;
    text-align: justify;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,.60)200%), url(_imagens/terra.jpg); 
}

pre {
    font-size: 1.15em;
    padding: 0%;
}

#ola-mundo {
    font-family: 'Fira Code';
    border-top: 1px solid rgba(255,255,2555,.30);
    border-bottom: 1px solid rgba(255,255,2555,.30);
}

.ola {
    color: rgb(218, 21, 53);
}

.mundo {
    color: rgb(5, 185, 5);
}