@charset "UTF-8";

@font-face {
    font-family: 'Fira Code';
    src: url(_fontes/FiraCode-Light.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

#ola-mundo {
    font-family: 'Fira Code';
    border-bottom: 1px solid rgba(255,255,2555,.30);
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: Impact, 'Arial Narrow', sans-serif;
    color: white;
    text-align: justify;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8) 100%), url(_imagens/terra.jpg);
}

main {
    margin: auto;
}

main section {
    min-width: 300px;
    max-width: 400px;
    display: inline-block;
    margin: 30px;
}

main section h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

main section code#codigo {
    color:rgb(21, 129, 21);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.801);
    display: inline-block;
    border-radius: 10px;
    padding: 20px 25px 5px 0px;
}

main section#lenda {
    position: absolute;
}

main section p {
    text-shadow: 1px 1px 0px black;
}



footer {
    display: block;
    margin: auto;
    padding: 20px;
}